@tailwind base;
@tailwind components;
@tailwind utilities;

/* Player do YouTube Oculto (Headless) para não dar spoilers de títulos ou thumbnails */
.headless-audio-player {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
  pointer-events: none !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* Custom scrollbars para Linha do Tempo horizontal */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
